body{
    background-image: url(images/background.jpg);
    background-size: cover;
}
*{
  text-decoration: none;
  list-style: none;
}

#container{
	width:60%;
	height:auto;
	margin-left:300px;
	margin-top:50px;
	color: white;
	font-family: calibri;
}
    
input[type=text], select {

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4203c3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #8900ab;
}

div {
    border-radius: 5px;
    background-color: ;
    padding: 20px;
}

 
input[type=date], select {

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color:black;
    background-color: white;
    text-align: center;
    font-weight: bold;
    font-size:20px;


}

#scoot{

}